<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86880354929-g8isfcm4dl1vm9pltp3ophaikndbgqrd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86880354929-g8isfcm4dl1vm9pltp3ophaikndbgqrd</string>
	<key>API_KEY</key>
	<string>AIzaSyD2fRObtZd5PJne81GD7b03XrqVjAQCQqs</string>
	<key>GCM_SENDER_ID</key>
	<string>86880354929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sebastian-staszczyk.Schedulex</string>
	<key>PROJECT_ID</key>
	<string>schedulex-34b5a</string>
	<key>STORAGE_BUCKET</key>
	<string>schedulex-34b5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86880354929:ios:77c0974ffcfef7959a51d0</string>
</dict>
</plist>